USE [master]
GO
/****** Object:  Database [Web_General]    Script Date: 2/2/2022 21:37:46 ******/
CREATE DATABASE [Web_General]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Web_General', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Web_General.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Web_General_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Web_General_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Web_General].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Web_General]
GO
/****** Object:  Table [dbo].[tblBanner]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBanner](
	[idBanner] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[Descripcion] [varchar](300) NULL,
	[Imagen] [varchar](300) NULL,
	[Estado] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEstados]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEstados](
	[idEstado] [tinyint] NULL,
	[Descripcion] [varchar](15) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSysUsuarios]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSysUsuarios](
	[NombreUsuario] [varchar](50) NULL,
	[Contra] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblEstados] ([idEstado], [Descripcion]) VALUES (1, N'ACTIVO')
INSERT [dbo].[tblEstados] ([idEstado], [Descripcion]) VALUES (2, N'INACTIVO')
GO
INSERT [dbo].[tblSysUsuarios] ([NombreUsuario], [Contra]) VALUES (N'test', N'1234')
GO
/****** Object:  StoredProcedure [dbo].[SP_Banner_Actualizar]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_Banner_Actualizar]
(
@idBanner int,
@Titulo varchar(50),
@Descripcion varchar(300),
@Imagen varchar(300),
@Estado tinyint,
@withFile tinyint
)
as
IF(SELECT COUNT(*) FROM tblBanner WHERE idBanner = @idBanner) > 0
BEGIN

	IF @withFile = '1'
	BEGIN
		IF @Estado = 1
		BEGIN
			UPDATE tblBanner SET Estado = 2
		END

		UPDATE tblBanner SET Titulo = @Titulo, Descripcion = @Descripcion, Imagen = @Imagen, Estado = @Estado
		WHERE idBanner = @idBanner
		SELECT 'Banner actualizado.' AS msj
	END
	ELSE
	BEGIN
		IF @Estado = 1
		BEGIN
			UPDATE tblBanner SET Estado = 2
		END

		UPDATE tblBanner SET Titulo = @Titulo, Descripcion = @Descripcion, Estado = @Estado
		WHERE idBanner = @idBanner
		SELECT 'Banner actualizado.' AS msj
	END
END
ELSE
BEGIN
	SELECT 'Error. No hay banner con numero de identificación ingresado.' AS msj
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Banner_Guardar]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_Banner_Guardar]
(
@Titulo varchar(50),
@Descripcion varchar(300),
@Imagen varchar(300),
@Estado tinyint
)
as
IF(SELECT COUNT(*) FROM tblBanner WHERE Estado = 1) > 0
BEGIN
	INSERT INTO tblBanner(Titulo, Descripcion, Imagen, Estado)
	VALUES (@Titulo, @Descripcion, @Imagen, 2)
	SELECT 'Banner guardado. El estado estará desactivado debido a que existe un banner activado.' AS msj
END
ELSE
BEGIN
	INSERT INTO tblBanner(Titulo, Descripcion, Imagen, Estado)
	VALUES (@Titulo, @Descripcion, @Imagen, @Estado)
	SELECT 'Banner guardado' AS msj
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Banner_Inactivar]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[SP_Banner_Inactivar]
(
@idBanner int
)
as
IF (SELECT COUNT(*) FROM tblBanner WHERE idBanner = @idBanner) > 0
BEGIN
	UPDATE tblBanner SET Estado = 2 WHERE idBanner = @idBanner
	SELECT 'Banner inactivado' AS msj
END
ELSE
BEGIN
	SELECT 'Error, no existe banner' AS msj
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Banner_Obtener_Id]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Banner_Obtener_Id]
(
@idBanner int
)
as
SELECT * FROM tblBanner WHERE idBanner = @idBanner
GO
/****** Object:  StoredProcedure [dbo].[SP_Banner_Obtener_Todos]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_Banner_Obtener_Todos]
as
SELECT a.idBanner, a.Titulo, a.Descripcion, a.Imagen, b.Descripcion AS Estado FROM tblBanner a
INNER JOIN tblEstados b
ON a.Estado = b.idEstado
GO
/****** Object:  StoredProcedure [dbo].[SP_SYS_Usuario_Logear]    Script Date: 2/2/2022 21:37:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_SYS_Usuario_Logear]
(
@NombreUsuario varchar(50),
@Contra varchar(50)
)
as
IF @NombreUsuario IN (SELECT NombreUsuario FROM tblSysUsuarios WHERE NombreUsuario = @NombreUsuario AND Contra = @Contra) BEGIN
	SELECT 'OK' AS msj
END
ELSE BEGIN
	SELECT 'Nombre de usuario o contraseña incorrectos' msj
END
GO
USE [master]
GO
